.navigation_container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999999999;
    will-change: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.navigation {
    position: relative;
    width: calc(100% - 1rem);
    max-width: 600px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 0 0;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    background: var(--elmnt_back);
    bottom: 0rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 6px, rgba(0, 0, 0, 0.23) 0px -3px 6px;
}


.navigation ul {
    display: flex;
    flex: 1;
    padding: 0 6px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    height: 60px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    overflow: hidden;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 60px;
    font-size: 1.3em;
    text-align: center;
    transition: 0.5s;
    transform: translateY(-8.5px);
    color: #4e4f50;
}

.navigation ul li.active a .icon {
    /* transform: translateY(-9.5px); */
    color: var(--colorAccent);
}

.navigation ul li a .text {
    position: absolute;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    /* opacity: 0; */
    transform: translateY(15px);
    color: #4e4f50;
}

.navigation ul li.active a .text {
    /* opacity: 1;
    transform: translateY(10px); */
    color: #ffffff;

}

.indicator {
    position: absolute;
    width: calc(100% / 4);
    height: 60px;
    bottom: 5px;
    /* background: #000; */
    border-radius: 25px;
    /* border: 6px solid #fff; */
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5),
        inset 2px 2px 3px rgba(255, 255, 255, 0.25),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5); */
    will-change: transform;
}

.indicator.animation {
    transition: all 330ms ease;
}

.indicator::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 23px;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5),
        inset 2px 2px 3px rgba(255, 255, 255, 0.25),
        inset -3px -3px 5px rgba(0, 0, 9, 0.5); */
    background: var(--main_background);
}

/*.indicator::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
} */
.navigation ul li.active~.indicator {
    background: var(--colorAccent);
}

/* .navigation ul li:nth-child(1).active~.indicator {
    background: #29fd53;
}

.navigation ul li:nth-child(2).active~.indicator {
    background: #effd29;
}

.navigation ul li:nth-child(3).active~.indicator {
    background: #fd2929;
}

.navigation ul li:nth-child(4).active~.indicator {
    background: #fd2970;
} */

/* .navigation ul li:nth-child(5).active~.indicator {
    background: gray;
} */

.mou_svg,
.mou_svg svg {
    display: block;
    height: 100%;
    width: 100%;
}

.mou_svg .ionicon-fill-none {
    fill: none;
}

[data-navigation_url] {
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
    /* Animation to fade in */
}

[data-navigation_url].hidden {
    display: none;
    /* Hidden after animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}